<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619679592296-loekukatj11jafn3j3vu6a9o6nvelb65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619679592296-loekukatj11jafn3j3vu6a9o6nvelb65</string>
	<key>API_KEY</key>
	<string>AIzaSyBARWqCntL_z2649Td90s1DRsHlTpbkeJY</string>
	<key>GCM_SENDER_ID</key>
	<string>619679592296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.frontend</string>
	<key>PROJECT_ID</key>
	<string>madeleine-ad45a</string>
	<key>STORAGE_BUCKET</key>
	<string>madeleine-ad45a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619679592296:ios:bc9bf8929829cdaa8d30dd</string>
</dict>
</plist>